.app-sidebar-list {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.app-sidebar-list-item {
  color: white;
  margin: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.app-sidebar-list-item:hover {
  cursor: pointer;
}

.app-sidebar-list-item-img {
  margin-right: 0.5rem;
}

.app-sidebar-list-item-text {
  margin-left: 0.5rem;
}
