.app-sidebar {
  background-color: #2f3555;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 0.5rem;
  width: 20%;
}
